/* ********************************** *
 * Chew version:   {{ chew.version }} ({{ chew.version_date }}) *
 * Config version: {{ .parent.version }}{{ offset 18 .parent.version }} *
 * Generate date:  {{ chew.execution_date }} {{ chew.execution_time }}   *
 * ********************************** */