PROCEDURE {{ .Name }} (
  {{ range $i,$v := .Parameters }}
    {{- if (gt $i 0) }}, {{else}}  {{ end }}
    {{- .Name }}
    {{- .NameOffset }}  {{ .Type }}
    {{- .TypeOffset }}  {{ .DataType }}
    {{- if .Default }} DEFAULT {{ .Default }} {{ end }}
  {{ end -}}
  {{ .Parent }}
);